{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %}El Zorrito | Acerca de mi{% endblock title %}

{% block main %}

<div class="container px-lg-5">
    <div class="p-4 p-lg-4 bg-light rounded-3 ">
        <div class="m-4 m-lg-5">
            <img src="{% static 'AppZorro/assets/img/kyle.JPG' %}" alt="" class="rounded-circle p-3" height="250px">
            <h1 class="display-5">Andrés Kyle</h1>
            <p class="fs-5">Tengo 45 años y me dedico a la construcción.</p>
            <p class="fs-5">A los 13 años programaba en FoxPro para DOS y a los 15 vendí mi primer programa a un comercio. Cuando terminé la secundaria abandoné el tema por completo y recien ahora, 30 años después, retomé la programación con este curso de Python.</p>
            <hr class="divider text-white">
            <h4>Sobre el proyecto</h4>
            <p class="fs-5">En las obras somos varios los que registramos los gastos de los materiales que vamos comprando y entonces quise hacer una aplicacion que sea simple y sin tantas posibilidades de configuracion como las app genericas de control de gastos.</p>
        </div>
    </div>
</div>

{% endblock main %}