<!DOCTYPE html>

{% load static %}

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppZorro/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppZorro/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                {% if request.user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'Movimientos' %}"><img src="\media\logo.png" alt="" height="60px"></a>    
                {% else %}
                    <a class="navbar-brand" href="{% url 'Inicio' %}"><img src="\media\logo.png" alt="" height="60px"></a>
                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Home</a></li> 
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Movimientos' %}">Caja</a></li>  
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Rubros' %}">Rubros</a></li> 
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">Acerca de mi</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'Edit' %}">Mis datos</a>
                                {% if request.user.is_staff == True %}
                                    <a class="dropdown-item" href="/admin/" target="_blank">Administrador</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'LogoutZorro' %}">Salir</a>
                            </div>
                            </li>
                            <img src="{{request.user.imagen.imagen.url}}" alt="" class="rounded-circle" height="40px">
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Acceder</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Header-->
        <header class="py-1">

        </header>

        {% block main %}

        {% endblock main %}

        <!-- Footer-->
        <div class="fixed-bottom">
            <footer class="py-1 bg-secondary">
                <div class="container"><p class="m-1 text-center text-white">Copyright &copy; AppZorro2024</p></div>
            </footer>
        </div>
        <!-- JS Bootstrap v5.2 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
