{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %}El Zorrito | Caja {% endblock title %}

{% block main %}

<div id="todo" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-5">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-5 mx-md-4">
                <h3 class="display-5 mb-3 pb-1">Nuevo movimiento</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div data-mdb-input-init class="form-outline mb-4">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.fecha.label }}</th>
                                <td>{{ form.fecha }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.detalle.label }}</th>
                                <td>{{ form.detalle }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.rubro.label }}</th>
                                <td>{{ form.rubro }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.ingreso.label }}</th>
                                <td>{{ form.ingreso }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.egreso.label }}</th>
                                <td>{{ form.egreso }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.comprobante.label }}</th>
                                <td>{{ form.comprobante }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-secondary btn-me" type="submit" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function mostrarImagen() {
        var modal = document.getElementById("miModal");
        modal.style.display = "block";
        modal.onclick = function() {
            modal.style.display = "none";
        }
    }
</script>

{% endblock main %}


