{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %}El Zorrito | Caja {% endblock title %}

{% block main %}


<div class="row d-flex justify-content-center align-items-center h-50">
    
    <div class="col-xl-9">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-5 mx-md-4">
                <h3 class="mb-3 pb-1">Caja en pesos</h3>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-dark px-3" type="button" href="{% url 'CrearMovimiento' %}">Agregar nuevo</a>
                </div>
                <table class="text-center table table-striped table-bordered table-sm">
                    <thead class="thead-primary">
                        <tr class="text-bg-dark p-3">
                            <th scope="col">Fecha</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Cotizacion</th>
                            <th scope="col">Ingresos</th>
                            <th scope="col">Egresos</th>
                            <th scope="col">Saldo</th>
                            <th scope="col" class="bi bi-search"></th>
                            <th scope="col" class="bi bi-pen"></th>
                            <th scope="col" class="bi bi-trash2"></th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for movimiento in object_list %}
                        {% if movimiento.rubro_id == 23 %} 
                            <tr class="table-success">
                        {% else %}
                            <tr>  
                        {% endif %}
                                <td>{{ movimiento.fecha|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'DetalleDolar' movimiento.mandar %}"></a>{{ movimiento.detalle }}</td>
                                <td>{{ movimiento.rubro }}</td>
                                <td>{{ movimiento.cotiza }}</td>
                                <td>$ {{ movimiento.ingreso|floatformat:"2g" }} </td>
                                <td>$ {{ movimiento.egreso|floatformat:"2g" }} </td> 
                                <td>$ {{ movimiento.saldo_parcial }} </td> 
                                <td><a class="bi bi-search text-dark" href="{% url 'Detalles' movimiento.id %}"></a></td> 
                                {% if movimiento.rubro_id == 23 %}  
                                <td><a class="bi bi-pen text-success" href="{% url 'EditarDolares' movimiento.mandar %}"></a></td> 
                                {% else %}
                                <td><a class="bi bi-pen text-dark" href="{% url 'EditarMovimiento' movimiento.id %}"></a></td> 
                                {% endif %}
                                <td><a class="bi bi-trash2 text-dark" href="{% url 'MovimientosDelete' movimiento.id %}"></a></td> 
                            </tr>
                        {% empty %}
                            <tr><th><h6>Buuu... La caja está vacia.</h6></th></tr>
                            <th><h6>Que lindo seria para el Zorrito que ingrese algun pesito.</h6></th>
                        {% endfor %}
                    </tbody>
                    <tr class="text-bg-light">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Totales</th>
                        <th scope="col"></th>
                        <th scope="col">$ {{ totales.ingresos }}</th>
                        <th scope="col">$ {{ totales.egresos }}</th>
                        <th scope="col">$ {{ totales.saldo }}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </table>
                <nav aria-label="paginas caja">
                    <ul class="pagination data-bs-theme=dark">
                        {% if page_obj.has_previous %}
                            <li class="page-item data-bs-theme="dark">
                                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link text-dark" href="">Anterior</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if num != page_obj.number %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item active "><a class="page-link text-bg-dark" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="">Siguiente</a>
                        </li>
                        {% endif %}
                        <li class="page-item active">
                            <a class="page-link text-bg-dark" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock main %}