{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %}El Zorrito | Caja {% endblock title %}

{% block subtitulo %}  Movimientos de caja {% endblock subtitulo %}

{% block main %}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-5 mx-md-4">
                <h2 class="display-4">Movimientos de caja</h2>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-success p-3" type="button" href="{% url 'CrearMovimiento' %}">Agregar nuevo</a>
                </div>
                    <table class="text-center table table-striped table-bordered">
                        <thead class="thead-primary">
                            <tr class="text-bg-dark p-3">
                                <th scope="col">Fecha</th>
                                <th scope="col">Rubro</th>
                                <th scope="col">Ingresos</th>
                                <th scope="col">Egresos</th>
                                <th scope="col">Saldo</th>
                                <th scope="col" class="bi bi-search"></th>
                                <th scope="col" class="bi bi-pen"></th>
                                <th scope="col" class="bi bi-trash2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for movimiento in object_list %}
                                <tr>
                                    <td>{{ movimiento.fecha|date:"d/m/Y" }}</td>
                                    <td>{{ movimiento.rubro }}</td>
                                    <td>{{ movimiento.ingreso|floatformat:"2g" }}</td>
                                    <td>{{ movimiento.egreso|floatformat:"2g" }}</td> 
                                    <td>{{ movimiento.saldo_parcial }}</td> 
                                    <td><a class="bi bi-search" href="{% url 'Detalles' movimiento.id %}"></a></td> 
                                    <td><a class="bi bi-pen" href="{% url 'About' %}"></a></td> 
                                    <td><a class="bi bi-trash2" href="{% url 'About' %}"></a></td> 
                                </tr>
                            {% empty %}
                                No hay nada
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock main %}