{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %}El Zorrito | Obras {% endblock title %}

{% block main %}

<div id="todo" class="row d-flex justify-content-center align-items-center">
  <div class="col-xl-5">
    
      <div class="card rounded-3 text-black">
          <div class="card-body p-md-5 mx-md-4">
              <h3 class="display-6">Detalle de obra</h3>
                  <table class="table table-striped ">
                        <tr>
                          <th width="20%">Id</th>
                          <td>{{ object.id }}</td>
                        </tr>
                        <tr>
                          <th width="20%">Fecha de inicio</th>
                          <td>{{ object.fecha_inicio|date:"d/m/Y" }}</td>
                        </tr>
                        <tr>
                          <th width="20%">Nombre</th>
                          <td>{{ object.nombre }}</td>
                        </tr>
                        <tr>
                          <th width="20%">Cubiertos</th>
                          <td>{{ object.m2_cubiertos }} m2</td>
                        </tr>
                        <tr>
                          <th width="20%">Semicubiertos</th>
                          <td>{{ object.m2_semicubiertos }} m2</td>
                        </tr>
                        <tr>
                          <th width="20%">Totales</th>
                          <td>{{ m2_totales }} m2</td>
                        </tr>
                        <tr>
                          <th width="20%">Tiempo estimado</th>
                          <td>{{ object.dias_estimados }} dias</td>
                        </tr>
                        <tr>
                          <th width="20%">Tiempo de obra</th>
                          <td>{{ dias_obra }} dias</td>
                        </tr>
                        <tr>
                          <th width="20%">Presupuesto</th>
                          <td>u$s {{ object.presupuesto_inicial }}</td>
                        </tr>
                          <th width="20%">Costo Final</th>
                          <td>{{ costo_final }}</td>
                        </tr>
                        </tr>
                          <th width="20%">Ganancia</th>
                          <td>u$s {{ ganancia|floatformat:"2g" }}</td>
                        </tr>
                  </table>
                  <table>
                      <tr>
                        <td><a type="button" class="btn btn-outline-danger" href="{% url 'EditarObra' obra.id %}">Editar</a></td>
                        <td><a type="button" class="btn btn-outline-danger" href="{% url 'BorrarObra' obra.id %}">Eliminar</a></td>
                        <td><a type="button" class="btn btn-secondary btn-me" href="">Anterior</a></td>
                        <td><a type="button"  class="btn btn-secondary btn-me" href="{% url 'Obras' %}">Volver al listado</a></td>
                        <td><a type="button" class="btn btn-secondary btn-me" href="">Siguiente</a></td>
                      </tr>
                  </table>
                
              </div>
          </div>
      </div>      
  </div>
</div>

{% endblock main %}


