{% extends 'AppZorro/base.html' %}
{% load static %}
{% block title %}El Zorrito | Obras {% endblock title %}
{% block main %}

<div class="row d-flex justify-content-center align-items-center h-50">
    <div class="col-xl-9">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-5 mx-md-4">
                <h3 class="mb-3 pb-1">Obras</h3>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-dark px-3" type="button" href="{% url 'CrearObra' %}">Agregar nuevo</a>
                </div>
                <table class="text-center table table-striped table-bordered ">
                    <thead class="thead-primary">
                        <tr class="text-bg-dark p-3">
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cubiertos</th>
                            <th scope="col">Semicubiertos</th>
                            <th scope="col">Total</th>
                            <th scope="col">Presupuesto</th>
                            <th scope="col" class="bi bi-search"></th>
                            <th scope="col" class="bi bi-pen"></th>
                            <th scope="col" class="bi bi-trash2"></th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for obra in object_list %}
                            <tr>
                                <td>{{ obra.fecha_inicio|date:"d/m/Y" }}</td>
                                <td>{{ obra.nombre }}</td>
                                <td>{{ obra.m2_cubiertos|floatformat:"2g" }} m2</td>
                                <td>{{ obra.m2_semicubiertos|floatformat:"2g" }} m2</td>
                                <td>{{ obra.m2_total|floatformat:"2g" }} m2</td>
                                <td>$ {{ obra.presupuesto_inicial|floatformat:"2g" }} </td> 
                                <td><a class="bi bi-search text-dark" href="{% url 'DetalleObra' obra.id %}"></a></td> 
                                <td><a class="bi bi-pen text-dark" href="{% url 'EditarObra' obra.id %}"></a></td> 
                                <td><a class="bi bi-trash2 text-dark" href="{% url 'BorrarObra' obra.id %}"></a></td> 
                            </tr>
                        {% empty %}
                            <tr><th><h6>Buuu... No hay obras.</h6></th></tr>
                            <th><h6>Que lindo seria para el Zorrito que ingrese algun pesito.</h6></th>
                        {% endfor %}
                    </tbody>
                    <tr class="text-bg-light">
                        <th scope="col"></th>
                        <th scope="col">Totales</th>
                        <th scope="col"></th>
                        <th scope="col">{{ suma_ingreso }}</th>
                        <th scope="col">{{ suma_egreso }}</th>
                        <th scope="col">$ {{ saldo_final }}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </table>
                <nav aria-label="paginas caja">
                    <ul class="pagination data-bs-theme=dark">
                        {% if page_obj.has_previous %}
                            <li class="page-item data-bs-theme="dark">
                                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link text-dark" href="">Anterior</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if num != page_obj.number %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item active "><a class="page-link text-bg-dark" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="">Siguiente</a>
                        </li>
                        {% endif %}
                        <li class="page-item active">
                            <a class="page-link text-bg-dark" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock main %}