{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %} El Zorrito | Login {% endblock title %}

{% block subtitulo %}  Login {% endblock subtitulo %}

{% block main %}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-6">
      <div class="card rounded-3 text-black">
        <div class="row g-0">
            <div class="card-body p-md-5 mx-md-4">
              <div class="text-center">
                <img src="\media\logo.png" style="width: 120px;" alt="logo">
                <h4 class="mt-1 mb-5 pb-1">Modificar la contraeña</h4>



                {% if validlink %}
                <p>Ingrese (y confirme) su nueva contraseña.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva contraseña:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirmar contraseña:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="btn btn-secondary btn-me" type="submit" value="Cambiar mi contraseña" /></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Error al restablecer la contraseña</h1>
                <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se había utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
            {% endif %}















            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}










 
 
 
 
 
 
 
 