{% extends 'AppZorro/base.html' %}

{% load static %}

{% block title %} El Zorrito | Login {% endblock title %}

{% block subtitulo %}  Login {% endblock subtitulo %}

{% block main %}
<div class="container-fluid">

        <p class="fs-5 fw-bold">{{ msg_login }}</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <a type="button" class="btn btn-secondary btn-me" href="{% url 'Register' %}">Crear cuenta</a>
            <input class="btn btn-secondary btn-me" type="submit" value="Iniciar sesión">
        </form>

</div>





    

<div class="container-fluid">

</div>
{% endblock main %}