
{% extends 'AppZorro/base.html' %}
{% load static %}
{% block title %} Registro {% endblock title %}
{% block main %}
  
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="\media\logo.png" style="width: 120px;" alt="logo">
                  <h4 class="mt-1 mb-1 pb-1">¿Olvidaste tu clave?</h4>
                  <h6 class="mt-1 mb-5 pb-1">El Zorrito te manda un mail con ayuda.</h4>
                  <form action="" method="POST">
                    <div data-mdb-input-init class="form-outline mb-4">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input class="btn btn-dark btn-me" type="submit" value="Recuperar contraseña">
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
{% endblock main %}


